<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
                  "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

	<bean id="dmDatasource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/test" />
		<property name="username" value="root" />
		<property name="password" value="root123" />
	</bean>
	
	<bean id="jt" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg ref="dmDatasource" />
	</bean>
	
	<bean id="empDao" class="com.cbit.dao.EmpDAOImpl" autowire="byName" />
	
	<bean id="demoBean" class="com.cbit.bo.DemoBeanImpl">
		<property name="empDao" ref="empDao" />
	</bean>

</beans> 